
<div class = "text-center p-4">

          <div>
      
           <div class = "text-left">
              <bold>Seller: </bold>
               <h4> <%= @hi.seller%> </h4>
               <h4 >  99% Rating</h4>
               <h4 ><a href="/showreviews">Reviews</a></h4>
               <a href=<%="/profile/"+ (@hi.seller).to_s %>><button type="button" class="btn btn-danger">Seller's Marketplace</button>
               </a>
              </div>
            <div>

</div>




    <div  class="text-center">  
    <img  src=<%=@hi.imgData %> style=" width:300px; height:300px">
    <h5 class="pt-2"><%= @hi.item%> </h5>
    <p> <strong> Price:</strong><%= @hi.price%></p>
    <p> <strong> Condition:</strong><%=@hi.condition%> </p>
    <p><strong>Description:</strong> <%= @hi.description%>  </p>
    </div>
    <p1></p1>
    <br>
  <div class="pt-2"> 
  <a href="/items" class="btn btn-success">Back to MarketPlace</a>
  </div>
 </div>



  


