

<div class = "text-center p-4">

    <div>
      
           <div class = "text-left">
              <bold>Seller: </bold>
               <h4> <%= @hi.seller%> </h4>
               <h4 >  99% Rating</h4>
               <h4 ><a href="http://www.google.com">Reviews</a></h4>

             </div>
     
              <div>
<!--                 <img  src=<%="/"+ @hi.imgData %> style=" width:100px; height:100px" >
 -->
              </div>

      
                  <div >
                       <img  src=<%=@hi.imgData %> style=" width:100px; height:100px" >

                       <h3><%= @hi.item%> </h3>
                       <h2><%= @hi.price%> </h2>
                       <h2><%= @hi.condition%> </h2>
                  </div>

            <div>
              <bold>Description: <%= @hi.description%>  </bold>
              <p1></p1>
            </div><br>

            <button type="button" class="btn btn-success">Contact Seller</button>

        </div>


  
    
      
  

 </div>



  


